<div class="container">
  <app-header (gitSearch)="gitSearch($event)"></app-header>
  <section>
    <h2 class="m-3">Results</h2>
    <p class="fs-3 text-center" *ngIf="loading">
      Search a User or Repository to Display Results
    </p>
    <div
      *ngIf="!loading"
      class="d-flex align-items-center justify-content-center pt-3"
    >
      <p class="fs-3" *ngIf="errorMsg">
        The User or Repo with that name was Not Found
      </p>
      <app-user *ngIf="user.name" [currentUser]="user"></app-user>
      <div *ngIf="repos.length" class="mx-auto">
        <h3 class="text-center">
          A list of top 6 Repositories based on the search value
        </h3>
        <hr />
        <app-repo *ngFor="let repo of repos" [repo]="repo"></app-repo>
      </div>
    </div>
  </section>
</div>
