<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center justify-content-center ps-3">
      <img [src]="currentUser.avatarUrl" class="img-fluid rounded" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ currentUser.name }}</h5>
        <p class="card-text">
          <small class="text-muted"> {{ currentUser.bio }} </small>
        </p>
        <p class="card-text"> Location: {{ currentUser.location }}</p>
        <p class="card-text">
          Repositories :
          <span class="text-danger">{{ currentUser.repos }}</span>
        </p>
        <p class="card-text">
          Hireable : 
          <span *ngIf="currentUser.hireable" class="badge bg-success ms-2"> Available</span>
          <span *ngIf="!currentUser.hireable" class="bg-danger ms-2"> Not Available</span>
        </p>
      </div>
    </div>
  </div>
</div>
